<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>名言ペディア：管理画面：設定</title>
<meta name="keywords" content="名言, 名言ペディア" />
<meta name="description" content="名言ペディアは、名言？を記録し生暖かく見守るサイトです。" />
<link href="/css/templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="templatemo_container">
<!-- Free CSS Templates @ www.TemplateMo.com -->
	<div id="templatemo_header">
    	<div id="site_logo">
        </div>
</div> <!-- end of header -->
    
    <div id="templatemo_menu">
        <ul>
            <li><a href="/app/">Top</a></li>
            <li><a href="/app/word/">名言</a></li>
            <li><a href="/app/person/">発言者</a></li>
            <li><a href="/app/settings/" class="current">設定</a></li>
        </ul>
    </div> <!-- end of menu -->
    
    <div id="templatemo_content">
		
        <div id="content_left">
       	  <div class="left_column_section">
            <div class="header_01 border_bottom">メールからも投稿できます！</div>
            <div class="margin_bottom_20"></div>
            <p><strong>{{ user_id }}@meigen-pedia.appspotmail.com</strong></p>
            <p>上記メールアドレス宛に題名・本文を記載してメールしてください。<br />
            題名：発言者名<br />
            本文：名言</p>
            <p>！ 本文は１行目のみが反映されます ！</p>
            <div class="margin_bottom_20"></div>

            <div class="header_01 border_bottom">使い方</div>
            <div class="margin_bottom_20"></div>
            <p><strong>電車に乗っていて、同じ車両の人が名言を言った！</strong></p>
            <p>題名：電車の乗客<br />
            本文：発した名言</p>
            <div class="margin_bottom_20"></div>
            <p><strong>妻が口ずさんだ！</strong></p>
            <p>題名：妻<br />
            本文：口ずさんだ名言</p>
          </div>
        </div> <!-- end of content left -->
        
		<div id="content_right">
        	<div class="right_column_section">
           	  <div class="header_02">FAQ</div>
              <div class="content">
                <div class="header_03">メールアドレスについて</div>
                <p>Googleアカウント単位に異なります。</p>
              </div>

              <div class="margin_bottom_20"></div>

              <div class="content">
                <div class="header_03">送信アドレスの制限について</div>
                <p>ありませんので、お好きなアドレスから送信してください。</p>
              </div>

              <div class="margin_bottom_20"></div>

            </div>
        </div> <!-- end of content right -->
        
        <div class="cleaner"></div>

	</div> <!-- end of container -->
    
    <div id="templatemo_bottom_panel">
    </div>
    
    {% include "../include/portal_footer.html" %}

<!-- Free Website Templates @ TemplateMo.com -->
</div> <!-- end of container -->
</body>
</html>