<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>名言ペディア：管理画面</title>
<meta name="keywords" content="名言, 名言ペディア" />
<meta name="description" content="名言ペディアは、名言？を記録し生暖かく見守るサイトです。" />
    <link rel="stylesheet" type="text/css" href="/css/templatemo_style.css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery.autocomplete.css" />

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.formtips.1.2.js"></script>
    <script type="text/javascript" src="/js/jquery.autocomplete.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('form table tr td input.help').formtips({
                tippedClass: 'tipped'
            });

            $('#person').autocomplete('/search/person/', {});
        });
    </script>

	<style type="text/css" media="screen">
		.tipped {
			color: #BBB;
		}
	</style>

    <script type="text/javascript">
      <!--
      function deleteSubmit() {
        document.formid.mode.value = "delete";
        document.formid.submit();
      }
      // -->
    </script>
</head>
<body>
<div id="templatemo_container">
<!-- Free CSS Templates @ www.TemplateMo.com -->
	<div id="templatemo_header">
    	<a id="site_logo" href="/">
        </a>
    </div> <!-- end of header -->
    
    <div id="templatemo_menu">
        <ul>
            <li><a href="/app/">Top</a></li>
            <li><a href="/app/word/" class="current">名言</a></li>
            <li><a href="/app/person/">発言者</a></li>
            <li><a href="/app/settings/">設定</a></li>
        </ul>    	
    </div> <!-- end of menu -->
    
    <div id="templatemo_content">
		
        <div id="content_left">
       	  <div class="left_column_section">
			<div class="header_01 border_bottom">名言を{% if current_meigen %}更新{% else %}登録{% endif %}する</div>

            <!-- 新規登録 -->
            <form action="/app/word/" method="post" id="formid" name="formid">
            <table>
              <tr>
{% if current_meigen %}
                <td><input type="text" name="person" id="person" class="help" value="{{ current_meigen.person.name }}" title="{% if not current_meigen.person.name %}発言者名{% endif %}" size="60"/></td>
              </tr>
              <tr><td><input type="text" name="text" id="i2" class="help" value="{{current_meigen.text }}" title="" size="120" /></td></tr>
              <tr><td>
                <select name="is_lock">
                  <option value="False" {% if not current_meigen.is_lock %}selected{% endif %}>自分以外に編集を許可する</option>
                  <option value="True" {% if current_meigen.is_lock %}selected{% endif %}>自分以外に編集を許可しない</option>
                </select>
                どちらを選択してもポータルへは公開されます
              </td></tr>
              <tr><td>
              </td></tr>
              <tr><td></td></tr>
              <tr><td>
                <button type="submit" class="positive"><img src="/images/action_check.gif" alt=""/>更新</button>
                <button type="button" class="negative" onClick="deleteSubmit();"><img src="/images/action_delete.gif" alt=""/>削除</button>
              </td></tr>
              <input type="hidden" name="id" value="{{ current_meigen.key }}">
              <input type="hidden" name="mode" value="">
{% else %}
              <tr><td><input type="text" name="person" id="person" class="help" value="" title="発言者名" size="60"/></td></tr>
              <tr><td><input type="text" name="text" id="i2" class="help" value="" title="名言" size="120" /></td></tr>
              <tr><td>
                <select name="is_lock">
                  <option value="False" selected>自分以外に編集を許可する</option>
                  <option value="True">自分以外に編集を許可しない</option>
                </select>
                どちらを選択してもポータルへは公開されます
              </td></tr>
              <tr><td></td></tr>
              <tr><td><button type="submit" class="positive"><img src="/images/action_check.gif" alt=""/>登録</button></td></tr>
{% endif %}
            </table>
            </form>
            <!-- 新規登録 -->
          </div>

{% if current_meigen %}
          <div class="margin_bottom_20"></div>
          <div class="header_02 border_bottom"><p><a href="/word/{{ current_meigen.key }}">この名言のポータルサイトへ</a></p></div>
{% endif %}

          <div class="margin_bottom_20"></div>

      <div class="content_panel_4_col">
{% if current_meigen %}
        <div class="header_01 border_bottom">この名言の発言者です</div>
        <div class="content_panel_section margin_right_50">
          <ul>
            <li>
              <a href="/app/person/?id={{ current_meigen.person.key }}">{{ current_meigen.person.name }}</a>
              <span>({{ current_meigen.person.description }})</span>
            </li>
          </ul>
        </div>

        <div class="margin_bottom_20"></div>
{% endif %}

        <div class="header_01 border_bottom">あなたの作成した名言です</div>
        <div class="content_panel_section margin_right_50">
          <ul>
{% if not meigens %}
            <li>まだ明言が作成されていません！</li>
{% endif %}
{% for meigen in meigens %}
  {% if forloop.counter0|isOdd %}
            <li>
              <a href="/app/word/?id={{ meigen.key }}">{{ meigen.text }}</a>
              <a href="/app/person/?id={{ meigen.person.key }}"><span>by&nbsp;{{ meigen.person.name }}</span></a>
            </li>
  {% endif %}
{% endfor %}
          </ul>
        </div>
        
        <div class="content_panel_section">
          <ul>
{% for meigen in meigens %}
  {% if forloop.counter0|isEven %}
            <li>
              <a href="/app/word/?id={{ meigen.key }}">{{ meigen.text }}</a>
              <a href="/app/person/?id={{ meigen.person.key }}"><span>by&nbsp;{{ meigen.person.name }}</span></a>
            </li>
  {% endif %}
{% endfor %}
          </ul>
        </div>
          
        <div class="cleaner"></div>
      </div>

        </div> <!-- end of content left -->
        
		<div id="content_right">
        	<div class="right_column_section">
           	  <div class="header_02">今日の名言</div>

<center><iframe height="150" name="meigen" src="http://www.earth-words.net/search/homepage-parts.html" style="border-style: solid; border-width: 1px; border-color: #cccccc; margin: 0px 0px 0px 0px;" width="170" border="0" frameborder="0"></iframe><BR><br><FONT size="1" color="#999999">presented by <a target="_blank" href="http://www.earth-words.net/"><FONT color="#999999">地球の名言</FONT></a></FONT></center>

            </div>
        </div> <!-- end of content right -->
        
        <div class="cleaner"></div>

	</div> <!-- end of container -->
    
    <div id="templatemo_bottom_panel">
    </div>
    
    {% include "../include/portal_footer.html" %}

<!-- Free Website Templates @ TemplateMo.com -->
</div> <!-- end of container -->
</body>
</html>