<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>名言ペディア</title>
<meta name="keywords" content="名言, 名言ペディア" />
<meta name="description" content="名言ペディアは、名言？を記録し生暖かく見守るサイトです。" />
<link href="/css/templatemo_style.css" rel="stylesheet" type="text/css" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="http://meigen-pedia.appspot.com/rss">

<script type="text/javascript" src="http://s.hatena.ne.jp/js/HatenaStar.js"></script>
<script type="text/javascript">
  Hatena.Star.Token = 'dc5a873464e9780bd2802bf9b81eeb5b52eedcf9';
  Hatena.Star.SiteConfig = {
    entryNodes: {
      'div.star': {
        uri: 'span a',
        title: 'span',
        container: 'span'
      }
    }
  };
</script>

</head>
<body>
<div id="templatemo_container">
<!-- Free CSS Templates @ www.TemplateMo.com -->
	<div id="templatemo_header">
    	<a id="site_logo" href="/">
        </a>
    </div> <!-- end of header -->
    
    <div id="templatemo_menu">
        <ul>
            <li><a href="/" class="current">ホーム</a></li>
            <li><a href="/word/">名言</a></li>
            <li><a href="/person/">発言者</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>
        </ul>    	
    </div> <!-- end of menu -->

    <div id="templatemo_content">
		
        <div id="content_left">
       	  <div class="left_column_section">
			<div class="header_01 border_bottom">名言ペディアへようこそ！</div>
            <div class="margin_bottom_20"></div>
              <p>このサイトは、身近な人から著名人まで、名言(？)を発する人たちを生暖かく見守るサイトです。<br />
                 発せられた名言を記録し後世に残すことを目的としています。<br />
                 発言者名は、優しい気持ちで表現してくださいね！</p>
              <p>管理画面へ<a title="管理画面へログイン"  href="/app/">ログイン</a>する。</p>
        	</div>
            <div class="margin_bottom_20"></div>

    	<div class="content_panel_4_col">
	        <div class="header_01 border_bottom">新着名言</div>
            <div class="content_panel_section margin_right_50">
                <ul>
{% for meigen in meigens %}
  {% if forloop.counter0|isOdd %}
                      <li>
                        <div class="star"><span><a href="/word/{{ meigen.key }}">{{ meigen.text }}</a></span></div>
                        <a href="/person/{{ meigen.person.key }}"><span>by&nbsp;{{ meigen.person.name }}</span></a>
                    </li>
  {% endif %}
{% endfor %}
                </ul>
             </div>
        
            <div class="content_panel_section">
               <ul>
{% for meigen in meigens %}
  {% if forloop.counter0|isEven %}
                      <li>
                        <div class="star"><span><a href="/word/{{ meigen.key }}">{{ meigen.text }}</a></span></div>
                        <a href="/person/{{ meigen.person.key }}"><span>by&nbsp;{{ meigen.person.name }}</span></a>
                    </li>
  {% endif %}
{% endfor %}
                </ul>
          </div>
          
          <div class="cleaner"></div>
      </div>
            
        </div> <!-- end of content left -->
        
		<div id="content_right">
        	<div class="right_column_section">
           	  <div class="header_02"></div>
              <div class="content">
                <center><a href="/app/"><img src="/images/login.gif"></a></center>
              </div>
              <span></span>
            </div>
        </div> <!-- end of content right -->
        
        <div class="cleaner"></div>

	</div> <!-- end of container -->
    
    <div id="templatemo_bottom_panel">
    	<div class="content_panel_4_col">
          <div class="cleaner"></div>
          <div class="rc_btn_01"><a href="/word/">もっと見る...</a></div>
      </div>
    </div>
    
    {% include "../include/portal_footer.html" %}

<!-- Free Website Templates @ TemplateMo.com -->
</div> <!-- end of container -->
</body>
</html>