  <!-- 名言集.com ランダム名言ブログパーツ 開始
http://www.meigensyu.com/tools/blogparts/
-->
<STYLE>
#meigensyu{width: 150px;margin:0;padding:0;}
#meigensyu .title{background: #0a54a1;padding: 0px;font-size: 14px;height: 16px;font-weight: bold;text-align: center;}
#meigensyu .title a {text-decoration: none;color: #FFFFFF;}
#meigensyu .message{font-size: 12px;padding:2px 3px 3px 3px;color:#00cccc;font-weight:normal;background:#EEEEff;text-align: center;}
#meigensyu .message a { text-decoration: none; color: #0a54a1;}
</STYLE>
<DIV id="meigensyu">
<DIV class="title"><a href="http://www.meigensyu.com/" target="_blank">名言集.com</a></DIV>
<DIV class="message"><SCRIPT TYPE="text/javascript" SRC="http://www.meigensyu.com/tools/blogparts/randmeigen1.js" charset="UTF-8">
</SCRIPT>
</DIV>
</DIV>
<!-- 名言集.com ランダム名言ブログパーツ 終了-->

<p></p>
<!-- http://www.earth-words.net/search/blog-parts.html -->
<iframe height="150" name="meigen" src="http://www.earth-words.net/search/homepage-parts.html" style="border-style: solid; border-width: 1px; border-color: #cccccc; margin: 0px 0px 0px 0px;" width="170" border="0" frameborder="0"></iframe><BR><br><FONT size="1" color="#999999">presented by <a target="_blank" href="http://www.earth-words.net/"><FONT color="#999999">地球の名言</FONT></a></FONT>
